.inputemail {
  padding: 15px;
  border-color: #f0f0f1;
  border-style: none;
  flex-grow: 100%;
  width: 100%;
}

.inputpassword {
  padding: 15px;
  border-color: #f0f0f1;
  border-style: none;
  flex-grow: 100%;
  width: 100%;
  flex-grow: 70%;
}

input:focus {
  border-color: red;
  outline: none;
}

.label {
  font-size: 0.9em;
  color: #215e99;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
}

.inputgrid {
  border-style: solid;
  border-color: #e8e8e9;
  border-radius: 4px;
  display: flex;
  margin-top: 10px;
  border-width: 1px;
}

.iconpass {
  filter: brightness(2);
  margin-right: 10px;
  align-self: center;
  width: 3em;
  font-size: 0.7em;
  color: #c7cad9;
  cursor: pointer;
}

.passforgotdiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.passforgot {
  margin-top: 0px;
  font-size: 0.9em;
  color: #215e99;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
}

.button {
  color: white;
  border-radius: 4px;
  background-color: #215599;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  transition: 0.7s;
}

.button:hover {
  filter: brightness(140%);
}

.socialdiv {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.iconify {
  align-self: center;
  width: 3em;
  font-size: 0.7em;
  color: #c7cad9;
  cursor: pointer;
}
.socialGrid {
  background-color: #f3f3f3;
  border-radius: 100%;
  width: 49px;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.fb {
  width: 0.8em;
  fill: red;
}

.goo {
  width: 1.2em;
  font-size: 1.2em;
}

.apple {
  width: 1.2em;
}

.success {
  position: absolute;
  width: 100%;
  background-color: #4ca484;
  animation: fadeInTop ease 0.7s;
}

.successtext {
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}
