.inicio {
  display: flex;
  height: 100vh;
}

.rightPanel {
  animation: fadeIn ease 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.login {
  width: 374px;
  height: 629px;
}

.register {
  width: 374px;
  height: 680px;
}

.tittle {
  color: #ec552f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.7em;
}

.subtittle {
  color: #ec552f;
  font-weight: 400;
  font-size: 1em;
}

.label {
  font-size: 0.9em;
  color: #215e99;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 10px 0px;
}
.input {
  padding: 15px;
  border-color: #f0f0f1;
  border-style: none;
}

input:focus {
  border-color: red;
  outline: none;
}

.inputgrid {
  border-style: solid;
  border-color: #e8e8e9;
  border-radius: 4px;
  display: flex;
  margin: 10px 0px;
  border-width: 1px;
}

.iconify {
  align-self: center;
  width: 3em;
  font-size: 0.7em;
  color: #c7cad9;
  cursor: pointer;
}

.button {
  color: white;
  border-radius: 4px;
  background-color: #215599;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  transition: 0.7s;
}

.button:hover {
  filter: brightness(140%);
}

.socialGrid {
  background-color: #f3f3f3;
  border-radius: 100%;
  width: 49px;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.success {
  position: absolute;
  width: 100%;
  background-color: #4ca484;
  animation: fadeInTop ease 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@media (max-width: 414px) {
  .rightPanel {
    display: none;
  }

  .leftPanel {
    display: none;
  }
}
