.successmobile {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #4ca484;
  animation: fadeInTop ease 0.7s;
  bottom: 0;
  height: 0px;
  position: fixed;
  z-index: 1;
  transition: 0.5s;
  overflow-x: hidden;
}

.successtextmobile {
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  width: 200px;
}
